<div class="wrapper">
    <div class="topicos">
    <div class="container">
    <div class="row">
    <div class="col-3">
    <ul class="topicos-footer">
    <h6>Raças</h6>
    <li>Humanos</li>
    <li>Elfos</li>
    <li>Orcs</li>
    </ul>
    </div>
    <div class="col-3">
    <ul class="topicos-footer">
    <h6>Mundos</h6>
    <li>Medieval</li>
    <li>Ficção científica</li>
    </ul>
    </div>
    <div class="col-3">
    <ul class="topicos-footer">
    <h6>Regras</h6>
    <li>Manual do Mestre</li>
    <li>Manual do jogador</li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    <footer class="rodape">
    <p class="text-center">&copy; Todos os Direitos reservados a
    <b>RPG Cloud</b>
    </p>
    </footer>
    </div>